{% load static %}
<head>
    <title>Search</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"> </script>

</head>

<body>

    <form action="/monkeyList/" method="post" class='title-form'>{% csrf_token %}
        
        <h1>Search a Movie/TvShow:</h1>
    
            <input type="text" name = "search" class="textbox" placeholder="Pulp Fiction">
            <input type="submit" value="Find" class="btn" id='logbtn'>

    </form>

    <script>
        $('h1').hide().fadeIn(3000);
        $('.btn').animate({opacity: '1'}, {duration: 5000, queue: false});
    </script>

</body>